.chat-container {
  background-color: #060b26;
  display: flex;
}
.chat-room {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 90vh;
  margin-left: auto;
  margin-right: auto;
  border-left: 2px solid #dddddd8d;
  border-right: 2px solid #dddddd8d;
  border-bottom: 2px solid #dddddd8d;
  border-radius: 0px 0px 20px 20px;
  background-color: #060b26;
  padding-top: 3rem;
  padding-left: 1rem;
  padding-right: 0.8rem;
  padding-bottom: 1rem;
  letter-spacing: 0.5px;
}

.messages-list {
  flex-grow: 1;
  overflow-y: auto;
}

.message {
  display: flex;
  justify-content: flex-end; /* 預設靠右對齊 */
  margin-bottom: 2vh;
}

.avatar {
  width: 2vw; /* 大頭貼的寬度 */
  height: 2vw; /* 大頭貼的高度 */
  border-radius: 50%; /* 圓形大頭貼 */
  background-color: white; /* 暫時的背景顏色，可以替換為圖片 */
  margin-right: 10px; /* 與文本容器之間的間隔 */
  display: flex; /* 啟用 Flexbox */
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  margin-top: 1vh;
}

.message .text-container {
  width: auto;
  min-width: 40%;
  max-width: 90%; /* 最大寬度限制 */
  text-align: end;
  color: white;
  padding: 10px 20px; /* 內邊距 */
  border-top: solid 1px #ffffff77;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* 輕微陰影 */
  flex-grow: 1;
  line-height: 2;
}

.user-message .avatar {
  order: 2; /* 將大頭貼放在文本容器的右邊 */
  margin-right: 0.5rem;
}

.agent-message {
  justify-content: flex-start; /* agent 消息靠左對齊 */
}

.agent-message .text-container {
  text-align: start;
}

.user-message .text-container {
  order: 1;
}

.timestamp {
  font-size: 0.7em;
  color: #666;
}

.message-input {
  display: flex;
  margin-top: 2vh;
  align-items: center; /* 確保按鈕和輸入框垂直對齊 */
  background-color: #060b26;
  border: 1px solid rgba(245, 245, 245, 0.601); /* 移除邊框 */
  border-radius: 15px; /* 整體圓角邊框 */
  padding-right: 1vw; /* 統一右側內邊距 */
  letter-spacing: 0.5px;
}

.message-input textarea {
  flex-grow: 1; /* 使輸入框占滿剩餘空間 */
  display: flex; /* 啟用 Flexbox */
  align-items: center; /* 垂直居中 */
  text-align: start;
  font-size: 16px;
  color: white; /* 文字顏色為白色 */
  outline: none;
  background-color: #060b26; /* 深色背景 */
  border: none;
  border-radius: 15px; /* 圓角邊框 */
  padding-top: 0.5rem;
  padding-left: 1rem;
  margin-right: auto; /* 移除外邊距 */
  height: 40px; /* 初始高度 */
  max-height: 20vh; /* 最大高度 */
  overflow-y: hidden;
  z-index: 5;
}

.message-input textarea:focus {
  box-shadow: inset 0 0 3px #6db3ff; /* 內部陰影以強調焦點 */
}

.message-input button {
  border: none;
  border-radius: 50%; /* 圓形按鈕 */
  background-color: #060b26;
  color: white;
  font-size: 24px;
  font-weight: bold; /* 加粗字體 */
  cursor: pointer;
  box-shadow: none; /* 移除陰影 */
  line-height: 1; /* 使文字垂直居中 */
  display: flex; /* 使用 Flexbox */
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  width: 2em; /* 固定寬度 */
  height: 2em; /* 固定高度 */
  padding-left: 1rem;
}

.message-input button:hover {
  opacity: 0.5; /* 滑鼠懸停時的透明度 */
}

.sidebar-container {
  width: 40%;
  display: flex;
  flex-direction: column; /* 讓子元素上下排列 */
  margin-top: 4vh;
}

.recorded-points {
  height: 70%;
  letter-spacing: 0.05rem;
  font-size: 16px;
  margin-top: 1vh;
  overflow-y: auto;
}

.approvement-points {
  height: 40vh; /* 設定高度為視窗高度的 40% */
  margin-top: 2vh; /* 添加一些底部外邊距 */
  margin-bottom: 2vh; /* 添加一些底部外邊距 */
  margin-right: 4vw;
  padding: 1rem 2rem;
  border: 1px solid #ccc;
  border-radius: 16px;
  overflow-y: auto; /* 如果內容過多，添加滾動條 */
  /* background-color: #ff000077; */
  color: white;
  position: relative;
}

.approvement-points h3 {
  position: sticky;
  left: 1rem; /* 置於容器左側 */
  top: 0.2rem;
  width: 100%;
}

.disapprovement-points {
  height: 40vh; /* 設定高度為視窗高度的 40% */
  margin-top: 2vh; /* 添加一些底部外邊距 */
  margin-bottom: 3vh; /* 添加一些底部外邊距 */
  margin-right: 4vw;
  padding: 1rem 2rem;
  border: 1px solid #ccc;
  border-radius: 16px;
  overflow-y: auto; /* 如果內容過多，添加滾動條 */
  /* background-color: #ff000077; */
  color: white;
}

.disapprovement-points h3 {
  position: sticky;
  left: 1rem; /* 置於容器左側 */
  top: 0.2rem;
  width: 100%;
}

.export-ai-card-button {
  height: fit-content; /* 按鈕高度 */
  width: fit-content; /* 按鈕寬度 */
  position: absolute; /* 使用絕對定位 */
  top: 8vh; /* 置於容器頂部 */
  right: 4vw; /* 置於容器右側 */
  font-size: 24px;
  display: flex; /* 啟用 Flexbox */
  align-items: center; /* 垂直居中 */
  justify-content: center; /* 水平居中 */
  background-color: #060b26;
  cursor: pointer;
  border: none;
  color: white;
}

.export-ai-card-button p {
  padding-bottom: 0.2rem;
  margin-left: 0.4rem;
}

.export-ai-card-button:hover {
  opacity: 0.5;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
