.custom-node {
  min-width: 300px;
  width: auto;
  text-align: left;
  background-color: white;
  border: 1px solid black;
  border-radius: 15px;
  padding-top: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1.5rem;
}
.custom-node-content {
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
  padding-bottom: 2rem;
}

.custom-menu {
  position: absolute;
  z-index: 1000;
  width: auto;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  padding: 8px 0;
}

.custom-menu button {
  background: none;
  border: none;
  color: #333;
  padding: 8px 16px;
  text-align: left;
  width: 100%;
  font-size: 14px;
  cursor: pointer;
}

.custom-menu button:hover {
  background-color: #f5f5f5;
}

.node-tags {
  display: flex; /* 使用彈性佈局 */
  flex-wrap: wrap; /* 允許標籤換行 */
  gap: 5px; /* 標籤之間的間隔 */
}

.node-tag {
  background-color: #e7f5ff; /* 淺藍色背景 */
  color: #1c7ed6; /* 藍色文字 */
  padding: 5px 10px; /* 內邊距 */
  border-radius: 15px; /* 圓角邊框 */
  font-size: 0.8em; /* 字體大小 */
  font-weight: bold; /* 字體加粗 */
  font-style: italic;
  white-space: nowrap; /* 防止標籤內容換行 */
}
