/* 确保容器占据所有可用空间 */
.reflection-container {
  height: 92vh;
  overflow-y: auto;
  background-color: #060b26;
}

/* 编辑器容器 */

.reflection-container {
  display: flex;
  justify-content: center;
  overflow-y: auto;
}

.search-render {
  flex-basis: 40%;
  width: 50%;
  position: fixed; /* 固定位置 */
  left: 0;
  top: 8vh;
  bottom: 0; /* 延伸到底部 */
  overflow-y: auto;
  margin: 0 auto; /* 增加外边距，并且居中 */
}

.search-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  display: flex;
  width: 80%;
  align-items: center; /* 確保內部元素在垂直方向上居中 */
  justify-content: space-between; /* 元素間距平均分佈 */
  padding: 0; /* 移除內邊距 */
  overflow: visible;
}

.search-render input[type='text'] {
  flex-grow: 1; /* 允許 input 擴展以填滿空間 */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin: 20px 2vw 20px 3vw; /* 僅設置上下邊距 */
}

.tag-search {
  display: flex;
  flex-direction: column;
  width: 20%;
  position: relative;
}

.dropbtn {
  background-color: #505782; /* 按鈕背景顏色 */
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px; /* 圓角邊框 */
  text-align: center;
}

.dropbtn:hover {
  background-color: #5057829f; /* 滑鼠悬停时的背景颜色 */
}

.dropbtn:focus {
  background-color: #5057824f;
}

.dropdown-content {
  display: none; /* 默认不显示，点击按钮后通过React状态显示 */
  position: absolute; /* 绝对定位，不占据文档流空间 */
  top: 100%; /* 紧接着按钮下方 */
  left: 0;
  background-color: #f9f9f9;
  min-width: 100%; /* 宽度与触发元素相同 */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 60; /* 保证悬浮在其他内容上方 */
  overflow-y: auto; /* 超出部分y轴滚动 */
  max-height: 50vh; /* 根据需要设置最大高度，避免覆盖过多内容 */
}

.dropdown-content li {
  position: relative;
  cursor: pointer;
  text-align: center;
  background-color: #ffffff;
  max-height: 8vh;
  overflow-y: none;
  border-bottom: 1px solid #ddd; /* 添加分隔线 */
}

.dropdown-content li:last-child {
  border-bottom: none; /* 最后一个元素不需要分隔线 */
}

/* 当下拉菜单被触发时显示 */
.tag-search:hover .dropdown-content {
  display: block;
}

.show {
  display: block;
}

.search-render input[type='text']:hover,
.search-render input[type='text']:focus {
  border-color: #888; /* 鼠标悬停或输入框聚焦时的边框颜色 */
  outline: none; /* 去除默认的轮廓 */
}

.search-render input[type='text'] {
  transition: border-color 0.3s, box-shadow 0.3s; /* 平滑过渡效果 */
}

.search-render ul {
  display: grid;
  left: 0;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  padding: 20px;
  list-style: none;
  max-width: 50vw;
  width: 100%;
}
.search-render li {
  display: flex; /* 使用 flexbox 進行布局 */
  flex-direction: column; /* 元素垂直排列 */
  justify-content: space-between; /* 分散對齊 */
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 300px; /* 固定卡片高度 */
  overflow: auto; /* 防止內容溢出 */
  word-wrap: break-word; /* 在長單詞或URL不會溢出容器 */
  word-break: break-word; /* 在適當的地方斷開 */
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* 平滑的過渡效果 */
}

.search-render li:hover {
  transform: translateY(-5px); /* 滑鼠懸停時向上移動 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 滑鼠懸停時增加陰影 */
}

.search-render li h3 {
  font-size: 1.2rem; /* 標題字體大小 */
  margin-bottom: 10px; /* 標題下的間距 */
  color: #333; /* 標題字體顏色 */
  text-align: center; /* 標題對齊方式 */
}

.search-render li p {
  font-size: 1rem; /* 段落字體大小 */
  color: #666; /* 段落字體顏色 */
  text-align: justify; /* 段落對齊方式 */
}

.search-render img {
  max-width: 100%; /* 圖片最大寬度為100% */
  max-height: 150px; /* 固定圖片最大高度 */
  object-fit: cover; /* 圖片按比例填充指定空間 */
}

.reflection-card-button {
  position: fixed; /* 固定位置 */
  bottom: 1rem; /* 距离底部16像素 */
  right: 2rem; /* 距离右侧16像素 */
  padding: 10px 20px; /* 内填充 */
  background-color: #4caf50; /* 绿色背景 */
  color: white; /* 白色文字 */
  border: none; /* 无边框 */
  border-radius: 4px; /* 轻微的圆角 */
  cursor: pointer; /* 手型光标 */
  box-shadow: rgba(0, 0, 0, 0.2); /* 轻微的阴影 */
  transition: background-color 0.3s; /* 平滑的背景色过渡效果 */
  z-index: 50;
}

.reflection-card-button:hover {
  background-color: #45a049; /* 悬停时深绿色背景 */
}
.MDeditor {
  position: fixed; /* 固定位置 */
  right: 0;
  width: 50%;
  height: 100%;
}

@media (max-width: 768px) {
  .search-render ul {
    grid-template-columns: repeat(2, 1fr); /* 较小屏幕上每行两列 */
  }
}

@media (max-width: 480px) {
  .search-render ul {
    grid-template-columns: 1fr; /* 更小屏幕上每行一列 */
  }
}
